# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Environnements virtuels
venv/
.venv/
env/
ENV/

# Variables privées
.env
*.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Système
.DS_Store
Thumbs.db

# Logs
*.log

# Cache
.cache/
.pytest_cache/

# Modèles et checkpoints lourds
*.pth
*.pt
*.ckpt
*.onnx

# Données locales
data/
dataset/
datasets/

# Résultats temporaires
outputs/
runs/
checkpoints/
predictions/
temp/
tmp/

# Flask
instance/

# Archives
*.zip
*.rar
*.7z